<h1>Editando Restaurante</h1>

<% if @restaurante.errors.any? %>
	<ul>
		<% @restaurante.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<%end%>

<%= render partial: "form" %>